<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Edsis</title>
	<%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="index.html">Edsis</a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="/paginas/produtos">Produtos</a>
				</li>
				<li>
					<a href="/paginas/clientes">Clientes</a>
				</li>
				<li>
					<a href="/paginas/sobre">Sobre</a>
				</li>
				<li>
					<a href="/paginas/contato">Contato</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="contents">
		<%= yield %>	
	</div>
	
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="https://www.facebook.com/pages/Edsis/222401061116980" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2023 Zerotype. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>